@font-face {
  font-family: Capriola;
  src: url(./static/polices/Capriola-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./static/polices/montserrat/Montserrat-Light.otf);
}

.bloc-titre{
  padding: 2px 50px 30px 50px;
  background-color: #FFD166;
  text-align: right;
  width: fit-content;
  border-radius: 13px;
  margin: 0 auto;
  position: relative;
  font-family: Montserrat;

}
.sous-titre{
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 16pt;
  text-align: right;
  position: absolute;
  padding: 3px 7px;
  bottom: 10px;
  right: 10px;
}

h2{
    background-color: #74ACDF;
    padding: 5px 10px;
    width: fit-content;
    color: white;
    border-radius: 13px;
    font-size: 2em;
    text-align: center;
    margin: 0;
}
#text-center{
  margin: 0 auto;
}

p{
  margin: 1em 0 0 0;
}
p, blockquote{
  font-family: Montserrat;
  font-size: 1.2em;
}
li{
  font-family: Montserrat;
  font-size: 1.5em;
}
li li{
  font-size: 1em; /*pour éviter que les listes dans les listes héritent 2 fois du 1.2em*/
}
.statistiques > ul{
  line-height: 2.3em;
}

blockquote{
  text-align: center;
}



.bordered-images, iframe, figure > img, .slider > img{
  border: 6px solid #74ACDF; 
  border-radius: 13px;
}

.bordered-images{
    height: fit-content;
    flex-shrink: 0;
    margin: 1em;
}

iframe{
    width: 100%;
    margin : 1em;
}

figure{
  margin: 0 1em 1em 1em;

}

figcaption{
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: Capriola;
  text-align: center;
}

.palmares > section > figure > img{
  width: 500px;
  height : 250px;
  object-fit: cover;
}

.cinema > section > figure > img{
    height: 350px;

}

.zone-de-texte{
    background-color: #ffd166;
    padding:1.5em ;
    margin: 1em;
    border-radius: 13px;
    height: fit-content;
    
}

.persoHorizontal{
    display: flex;
    flex-direction: row;
}

.persoVertical{
    display: flex;
    flex-direction: column;
    
}

.wrap{
  flex-wrap: wrap;
}


.biographie{
    width: 50%;
}

.clubs{
    display: flex;
    flex-direction: row;
    text-align: center;
    width:500px;
    margin-top: 1em

}

.club{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 1em;
    text-align: center;
    width : 33%;
    margin : 0.2em 0em;
    transition: 0.2s;
}

.club:hover {
    transform: scale(1.05);
}

.bloc-clubs-statistiques{
  padding: 1em;

}
.bloc-multimedia{
  align-items: center;
  justify-content: space-around;
}
.bloc-images{
  margin-top: 1em;
}

.statistiques{
  width: 500px
}

.slider > img{
  width:700px;
  height: 350px;
  object-fit: cover;
}

