@font-face {
  font-family: Capriola;
  src: url(./static/polices/Capriola-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./static/polices/montserrat/Montserrat-Light.otf);
}

/*---------------------------------------------------Responsive-----------------------------------------------------------*/

@media (min-width: 1400px){/*Format Ordinateur*/
  .bloc-titre{width: fit-content;}
  .persoHorizontal{flex-direction: row;}
  iframe{
    margin : 1em;
    width: 100%;
  }
  .clubs{width:500px;}
  .bordered-images{margin: 1em;}
  .club > img{width : 70px}
  .maradona-img{width: 500px;}
  .palmares > section > figure > img{width: 400px;}
  .cinema > section > figure > img{height: 350px; }
  .slider > img{
    width:700px;
    height: 350px;
    object-fit: cover;
  }
  .statistiques > ul{line-height: 2.3em;}
  li{font-size: 1.5em;}
}
@media (max-width: 1400px) {/*Format Télephone*/
  .bloc-titre{width: 50%;}
  .persoHorizontal{flex-direction: column;}
  iframe{
    width: 90%;
    height: 300px;
    margin: 0 auto;
  }
  .clubs{width:100%}
  .bordered-images{margin: 1em auto;}
  .club > img{width : 50px}
  .maradona-img{width: 250px;}
  .palmares > section > figure > img{width: 250px;}
  .cinema > section > figure > img{height: 200px;}
  .slider > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  .statistiques > ul{
    line-height: 1.5em;
    padding: 0 0 0 1em;
    margin: 0;
  }
  li{font-size: 1em;}
  html {font-size: 80%; /* 20% plus petit */}
}

/*---------------------------------------------------Textes-----------------------------------------------------------*/
.bloc-titre{
  padding: 2px 50px 30px 50px;
  background-color: #FFD166;
  text-align: right;
  border-radius: 13px;
  position: relative;
  font-family: Montserrat;
  margin: 0 auto;

}
.sous-titre{
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 16pt;
  text-align: right;
  position: absolute;
  padding: 3px 7px;
  bottom: 10px;
  right: 10px;
}

h2{
    background-color: #74ACDF;
    padding: 5px 10px;
    width: fit-content;
    color: white;
    border-radius: 13px;
    font-size: 2em;
    text-align: center;
    margin: 0;
}
#text-center{
  margin: 0 auto;
}

p{
  margin: 1em 0 0 0;
}
p, blockquote{
  font-family: Montserrat;
  font-size: 1.2em;
}
li{
  font-family: Montserrat;
}
li li{
  font-size: 1em; /*pour éviter que les listes dans les listes héritent 2 fois du font-size*/
}

blockquote{
  text-align: center;
}

.zone-de-texte{
    background-color: #ffd166;
    padding:1.5em ;
    margin: 1em;
    border-radius: 13px;
    height: fit-content;
}


/*---------------------------------------------------Images-----------------------------------------------------------*/

.bordered-images, iframe, figure > img, .slider > img{
  border: 6px solid #74ACDF; 
  border-radius: 13px;
}

.bordered-images{
    height: fit-content;
    flex-shrink: 0;
}

figure{
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

figcaption{
  margin: 0.5em 0 1em;
  font-size: 1.5em;
  font-family: Capriola;
  text-align: center;
}

.palmares > section > figure > img{
  height : 250px;
  object-fit: cover;
}

.slider > img{
  object-fit: cover;
}

/*---------------------------------------------------Positionnement-----------------------------------------------------------*/


.persoHorizontal{
    display: flex;
    position: relative;
}

.persoVertical{
    display: flex;
    flex-direction: column;
}

.biographie{
    width: 50%;
}

.clubs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1em
}

.club{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    text-align: center;
    width : 33%;
    margin : 0.2em 0em;
    transition: 0.2s;
}
.club:hover {
    transform: scale(1.05);
}

.bloc-clubs-statistiques{
  padding: 1em;
}
.bloc-multimedia{
  align-items: center;
  justify-content: space-around;
}
.bloc-images{
  margin-top: 1em;
}

.statistiques{
  width: fit-content;
}
