header {
    background-color: #ffd166;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav {
    border: solid red 3px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
