header {
    background-color: #ffd166;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav {
    border: solid red 3px;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@font-face {
  font-family: Capriola;
  src: url(./static/polices/Capriola-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./static/polices/montserrat/Montserrat-Regular.otf);
}

h1, h2, h3{
    font-family: Capriola;
}

p{
    font-family: Montserrat;
}