@font-face {
    font-family: Capriola;
    src: url(./static/polices/Capriola-Regular.ttf);
  }
@font-face {
    font-family: Montserrat;
    src: url(./static/polices/montserrat/Montserrat-Regular.otf);
  }
  
h1, h2, h3{
      font-family: Capriola;
  }
  
p{
      font-family: Montserrat;
  }

h1{
    background-color: #ffd166;
    text-align: center;

  }

.NavPerito{
    background-color: #ffd166;
    padding: 0.1em 2em 0.1em 2em;
    margin: 0 30em 0 30em;
    border-radius: 13px;
    text-align: center;
  }

.NavPerito h2{
    background-color: #74ACDF;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 13px;
    font-size: 2em;
  }

.NavPerito ul{
    width: 20em;
    list-style: none;
  }

.NavPerito ul a{
    background-color: #74ACDF;
    padding: 5px 30px 5px 30px;
    color: white;
    border-radius: 13px;
    font-size: 1.2em;
    font-family: Montserrat;
    text-align: center;
    text-decoration: none;
  }

.NavPerito ul li{
    margin: 35px 0 7px 30px;
    transition: 1s;
  }
.NavPerito ul li:hover{
    transform: scale(1.10);
  }

.PeritoMain article{
    background-color: #ffd166;
    padding: 0.5em 2em 0.1em 2em;
    margin: 2em;
    border-radius: 13px;
  }

  .PeritoMain article h2{
    background-color: #74ACDF;
    padding: 5px 7px 5px 7px;
    margin: 0 32em 0 0;
    color: white;
    border-radius: 13px;
    font-size: 2em;
    text-align: center;
  }
