body {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: Capriola;
  src: url(./static/polices/Capriola-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./static/polices/montserrat/Montserrat-Light.otf);
}

h1, h2, h3{
  font-family: Capriola;
}
h1{
  text-align: center;
  font-size: 2.5em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}

.bloc-titre{
  padding: 2px 50px 30px 50px;
  background-color: #FFD166;
  text-align: right;
  width: 25%;
  border-radius: 13px;
  margin: 0 auto;
  position: relative;
  font-family: Montserrat;

}
.sous-titre{
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 16pt;
  text-align: right;
  position: absolute;
  padding: 3px 7px;
  bottom: 10px;
  right: 10px;
}

p{
  font-family: Montserrat;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

header div {
    background-color: #ffd166;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div h1 {
    font-size: 3em;
}

header nav {
    width: 60%;
    align-self: center;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.buttonHeader {
    background-color: #74acdf;
    height: 2.5em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 13px;
    width: 10em;
    font-size: 20px;
    transition: all 1s;
    color: white;
    text-decoration: none;
}

.buttonHeader:hover {
    animation: ombre 0.6s ease forwards;
}


header div img:hover {
    animation: rotation 0.6s ease;
}

.buttonHeader img {
    height: 2em;
    margin-right: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 10em;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div1 img {
    height: 10em;
}
    
.div2 { 
    grid-area: 1 / 2 / 2 / 5; 

}

.div3 { 
    grid-area: 1 / 5 / 2 / 6; 

}

footer{
    background-color: #ffd166;
    bottom: 0;
    width: 100%;
}

.footerParent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.footerDiv1 {
     grid-area: 1 / 1 / 2 / 3;
     display: flex;
     align-items: flex-end;
     padding: 1em;
}
.footerDiv2 {
     grid-area: 1 / 3 / 2 / 4;
     display: flex;
     align-items: center;
     justify-content: right;
     gap: 3em;
     margin-right: 4em;
}

.footerDiv2 img{
     width: 10em;
     order: 2;
     transition: all 1s ease-in-out;
}

.footerDiv2 img:hover{
    transform: rotateZ(360deg) scale(0.5);
    transition: all 1s ease-in-out;
}

button{
    width: 8em;
    height: 3em;
    text-align: center;
    text-decoration: underline;
    background-color: #74ACDF;
    font-size: 1.2em;
    border-radius: 13px;
    border: none;
    text-decoration: none;
}

button:hover{
    animation: ombre 0.6s ease forwards;
}

button a{
    color: #FFFFFF;
    font-family: Capriola;
    text-decoration: none;
}

.accueilParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#devise { grid-area: 1 / 1 / 2 / 2; }
#population { grid-area: 2 / 1 / 3 / 2; }
#densite { grid-area: 3 / 1 / 4 / 2; }
#drapeau { grid-area: 1 / 2 / 4 / 3; }
#hymne { grid-area: 1 / 3 / 2 / 5; }
#monnaie { grid-area: 2 / 3 / 4 / 5; }

#acMain  {
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#acMain section {
    width: 90%;
    margin-top: 2em;
}

.titre {
    background-color: #FFD166;
    border-radius: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    width: 35%;
    margin: 1em;
}

.titre h2 {
    background-color: #74ACDF;
    border-radius: 13px;
    padding: 5px;
    width: 80%;
    align-self: center;
}

#description {
    background-color: #FFD166;
    border-radius: 13px;
    padding: 1em;
    width: 70%;
    margin-bottom: 3em;
}


#acMain #geographie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#geographie article{
    background-color: #FFD166;
    border-radius: 13px;
    padding: 1em;
    justify-content: center;
    height: 13em;
    width: 30em;
}

#geographie iframe {
    border-radius: 13px;
}

#infosCles, #historique, #decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elem1 {
    text-align: center;
    background-color: #FFD166;
    border-radius: 13px;
    margin: 1em;
}

#drapeau {
    text-align: center;
    background-color: #FFD166;
    border-radius: 13px;
    margin: 1em;
}

#hymne {
    text-align: center;
    background-color: #FFD166;
    border-radius: 13px;
    margin: 1em;
}

#monnaie {
    text-align: center;
    background-color: #FFD166;
    border-radius: 13px;
    margin: 1em;
}

.accueilParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accueilParent div h3 {
    background-color: #74ACDF;
    border-radius: 13px;
    color: white;
    width: fit-content;
    padding: 10px;
    align-self: center;
}

.elem1 p {
    font-family: capriola;
    font-size: 1.5em;
}

#drapeau img {
    height: 20em;
}

#hymne {
    align-items: center;
}

#hymne audio {
    width: 80%;
}

#monnaie figure img {
    width: 80%;
}

#historique p {
    background-color: #FFD166;
    border-radius: 13px;
    padding: 1em;
}

#dates, #liaisons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#dates ul, #liaisons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

#dates ul li button {
    width: 7em;
}

#liaisons li {
    text-align: center;
    width: 7em;
}

#dates ul li:nth-child(odd) .btnHisto {
    background: #74ACDF;
}
#dates ul li:nth-child(even) .btnHisto {

    background: #FFD166;
}

#dates ul li:nth-child(odd) .btnHisto:hover {
    animation: btnHisto 0.6s ease forwards;
}

#decouverte div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#decouverte div article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:1em;
    background-color: #FFD166;
    border-radius: 13px;
}

#decouverte div article h3 {
    background-color: #74ACDF;
    padding: 0.5em;
    border-radius: 13px;
}
#decouverte div article img {
    height: 18em;
    width: 15em;
    margin: 1em;
    border-width: 6px;
    border-radius: 13px;
}

@keyframes btnHisto {
        0% {
    }
    100% {
        background-color: #f8c754;
        box-shadow: 4px 4px 0 #7cb7f3;
        transform: scale(1.05);
        transition: all 1s;
        cursor: pointer;
    }
}

@keyframes ombre {
    0% {

    }
    100% {
        background-color: #7cb7f3;
        box-shadow: 4px 4px 0 #ffd166;
        transform: scale(1.05);
        transition: all 1s;
        cursor: pointer;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 375px) {
    body {
        margin: 0;
        /* overflow: hidden; */
        width: 100vw;
    }

    header {
        width: 100vw;
    }

    .div1, .div3 {
        display: none;
    }

    header nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
    }

    .buttonHeader {
        width: 100%;
    }

    .buttonHeader p{
        display: none;
    }

    #acMain {
        margin: 0;
        right: 0;
        width: 100vw;
        background-color: white;
    }

    #geographie {
        display: flex;
        flex-direction: column;
        border: solid red;
    }

    #geograpie article {
        order: 2;
    }

}