@font-face {
  font-family: Capriola;
  src: url(./static/polices/Capriola-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(./static/polices/montserrat/Montserrat-Light.otf);
}



h1, h2, h3{
  font-family: Capriola;
}
h1{
  text-align: center;
  font-size: 2.5em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}

.bloc-titre{
  padding: 2px 50px 30px 50px;
  background-color: #FFD166;
  text-align: right;
  width: 25%;
  border-radius: 13px;
  margin: 0 auto;
  position: relative;
  font-family: Montserrat;

}
.sous-titre{
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 16pt;
  text-align: right;
  position: absolute;
  padding: 3px 7px;
  bottom: 10px;
  right: 10px;
}

p{
  font-family: Montserrat;
}
