@font-face {
    font-family: Capriola;
    src: url(./static/polices/Capriola-Regular.ttf);
  }
@font-face {
    font-family: Montserrat;
    src: url(./static/polices/montserrat/Montserrat-Regular.otf);
  }
  
h1, h2, h3{
      font-family: Capriola;
  }
  
p{
      font-family: Montserrat;
  }

h1{
    background-color: #ffd166;
    text-align: center;
  }

.perito{
    margin: 10em;
}

.NavPerito{
    background-color: #ffd166;
    padding: 0.1em 1em 0.1em 1em;
    border-radius: 13px;
    text-align: center;
    letter-spacing: 2px;

  }

.NavPerito h2{
    background-color: #74ACDF;
    padding: 12px 7.7em 12px 7.9em;
    color: white;
    border-radius: 13px;
    font-size: 2em;
  }

.NavPerito ul{
    margin: 0 0 0 10em;
    width: 20em;
    list-style: none;
  }

.NavPerito ul li a{
    color: white;
    font-size: 1.2em;
    font-family: Montserrat;
    text-decoration: none;
  }

.NavPerito ul li{
    border-radius: 13px;
    padding: 7px 0 7px 0;
    background-color: #74ACDF;
    margin: 30px 30px 0 0;
    transition: 1s;
  }

.NavPerito ul li:hover{
    transform: scale(1.20);
    background-color: #7cb7f3;
  }

.PeritoMain article{
    background-color: #ffd166;
    padding: 0.5em 2em 0.1em 2em;
    margin: 2em;
    border-radius: 13px;
  }

.PeritoMain article h2{
    background-color: #74ACDF;
    padding: 5px 7px 5px 7px;
    width: 10em;
    color: white;
    border-radius: 13px;
    font-size: 2em;
    text-align: center;
  }

.pic1{
    padding: 1em 0 0 0;
}

.pic1 img{
    width: 13em;
    border-radius: 13px;
    border: #74ACDF solid 7px;
  }
  
.UnderHeader{
    display: flex;
    flex: nowrap;
  }

.trekking{
    display: flex;
    flex-wrap: nowrap;
}

.trekking img{
    width: 30em;
    margin: 0.5em 0 0 0;
    border-radius: 13px;
    border: #74ACDF solid 7px;
}

